.mainDiv{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
}
.logo{
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}
.logo>img{
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.Input{
    border-color: #ccc;
}
.Input:focus{
    border-color: rgb(80, 80, 80);
    box-shadow: none;
}
@media only screen and (max-width:800px){
    .logo{
        height: 70px;
    }
}
/* @media only screen and (max-width:450px){
    .mainDiv{
        width: 100%;
    }
} */